body {
    margin: 24px;
}

.twoColumnGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.threeColumnGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.smallMargin {
    margin: 15px;
}

.defaultImage {
    max-width: 100%;
    height: auto;
}